<div class="start_page">
    <ul class="game_start_buttons">
        <li class="game_start_buttons_row">
            <a class="standard_button" routerLink="/offline">OFFLINE</a>
            <a class="standard_button" routerLink="/online">ONLINE</a>
        </li>
        <li class="game_start_buttons_row">
            <label for="roomId">
                <input type="text" placeholder="room id" id="roomId" class="standard_input">
            </label>
                <a class="standard_button" routerLink="/join">Dołącz</a>
        </li>
    </ul>
</div>
