<div class="dashboard">
    <div class="control_panel">
        <div class="info_board">
            <button id="prev_button">Back</button>
            <div class="display"></div>
            <button id="next_button">Next</button>
        </div>
        <div class="actions">
            <form action="#" (submit)="addPlayer(playerName.value)">
                <button class="action" >Add player</button>
                <input type="text" id="player_name" #playerName>
            </form>
            <button id="draw_roles" (click)="drawRoles()">Draw roles</button>
        </div>
        <div class="selecte_player_actions" *ngIf="selectedPlayerComponent">
            <p class="selected_player_name">Name: {{selectedPlayerComponent.playerData.name}}</p>
            <p>Role: {{selectedPlayerComponent.playerData.role}}</p>
            <p>Status: {{selectedPlayerComponent.playerData.status}}</p>
            <button (click)="removePlayer()">Remove player</button>
            <button (click)="selectedPlayerComponent.playerEliminated()">Eliminate player</button>
            <button (click)="selectedPlayerComponent.playerRestored()">Restore player</button>
        </div>
    </div>
    <div class="gameboard">
        <app-gameboard></app-gameboard>
    </div>
</div>

