.roles_view{
    height: 100%;
    display: flex;
    padding: 100px;
    /* flex-direction: column; */
}

ul { 
    list-style: none;
    text-decoration: none;
    margin-right: 3rem;
}
li {
    margin-bottom: 10px;
}

.role_button { 
    color: cornsilk;
    background-color: rgb(33, 39, 54);
    padding: 1.5rem 5rem;
    border-radius: 15px;
}

.role_frame {
    width: 200px;
    min-height: 250px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(240, 210, 174);
}
.roles_list {
    max-height: 300px;
    overflow: auto;
}
