<div class="header">
    <div class="logo">MAFIA</div>
    <ul class="nav-list">
        <li class="nav-elem"><a class="header_button" routerLink="/">Start</a></li>
        <li class="nav-elem"><a class="header_button" routerLink="/role">Role</a></li>
        <li class="nav-elem">Rozgrywka</li>
        <li class="nav-elem">Akcje</li>
    </ul>
    <ul class="nav-account">
        <li class="nav-elem">test</li>
        <li class="nav-elem">test</li>
        <li class="nav-elem">test</li>
    </ul>
</div>